<div class="menu">
	<div class="item">
		<a class="link icon_home"></a>
		<div class="item_content">
			<p><a href="<%=root_path%>">Home</a></p>
		</div>
	</div>
	<div class="item">
		<a class="link icon_mail"></a>
		<div class="item_content">
			<p><a href="<%=groom_path%>">Groom</a></p>
		</div>
	</div>
	<div class="item">
		<a class="link icon_help"></a>
		<div class="item_content">
			<p><a href="<%=bride_path%>">Bride</a></p>
		</div>
	</div>
	<div class="item">
		<a class="link icon_find"></a>
		<div class="item_content">
			<p><a href="<%=root_path%>">Engagement</a></p>
		</div>
	</div>
	<div class="item">
		<a class="link icon_photos"></a>
		<div class="item_content">
			<p><a href="<%=root_path%>">Marriage</a></p>
		</div>
	</div>
	
</div>