<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lakshmi Siva Parinayam</title>

  <%= stylesheet_link_tag    "common", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "engagement/landscape-header.css", :media => "all" %>
  <%= stylesheet_link_tag    "menu/style.css", :media => "all" %>
  <%= stylesheet_link_tag    "engagement/style.css", :media => "all" %>

  <%= javascript_include_tag "muhurtham/jquery-1.9.1.js" %>
  <%= javascript_include_tag "muhurtham/jquery-ui.js" %>


  <%= javascript_include_tag "engagement/jquery.easing.1.3.js" %>
  <%= javascript_include_tag "engagement/jquery.delay.js" %>
  <%= javascript_include_tag "engagement/landscape-header.js" %>
  
  <%= javascript_include_tag "brideGroom/jquery.lettering.animate.js" %>
  <%= javascript_include_tag "brideGroom/jquery.lettering.js" %>

  <%= javascript_include_tag "menu/jquery-animate-css-rotate-scale.js" %>
  <%= javascript_include_tag "menu/jquery-css-transform.js" %>
  <%= javascript_include_tag "menu/custom.js" %>
  <%= stylesheet_link_tag    "menu/jquery.mobile-1.0.min.css", :media => "all" %>

</head>
<body>
    
  <%= yield %>
</body>
</html>