<!DOCTYPE html>
<html>
<head>
	<title>Siva Weds Lakshmi</title>
	<%= stylesheet_link_tag  "common", :media => "all" %>
  	<%= stylesheet_link_tag  "brideGroom/style.css", :media => "all" %>
  	<%= stylesheet_link_tag  "menu/style.css", :media => "all" %>	
	
	<%= javascript_include_tag "muhurtham/jquery-1.9.1.js" %>
	<%= javascript_include_tag "muhurtham/jquery-ui.js" %>
	
	<%= javascript_include_tag "brideGroom/jquery.lettering.animate.js" %>
	<%= javascript_include_tag "brideGroom/jquery.lettering.js" %>

	<%= javascript_include_tag "brideGroom/custom.js" %>

	<%= javascript_include_tag "menu/jquery-animate-css-rotate-scale.js" %>
	<%= javascript_include_tag "menu/jquery-css-transform.js" %>
	<%= javascript_include_tag "menu/custom.js" %>
    <%= stylesheet_link_tag    "menu/jquery.mobile-1.0.min.css", :media => "all" %>
	
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
